<div class="personInfo">
        <div>
            <span>Braveness: </span>
            <input type="number" placeholder="5" ng-model="person.braveness" ></input>
        </div>
        <div >
            <span>Favorite Color: </span>
            <input placeholder="Fuschia" ng-model="person.favoriteColor" ></input>
        </div>
        <div >
            <span>How much do you love spandex?: </span>
            <input  type="number" placeholder="5" ng-model="person.spandexScore"></input>
        </div>
        <div>  
            <span>Capes: </span>
            <input type="checkbox" ng-model="person.capes" ng-checked="person.capes"></input>
        </div>
    </div>